body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-container {
    margin-bottom: 30px;
}

.timer-container.paused canvas {
    opacity: 0.5;
}

.timer-display {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-text {
    position: absolute;
    font-size: 1em;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.todo-container {
    width: 300px;
}

.todo-input {
    display: flex;
    margin-bottom: 10px;
}

.todo-input input {
    flex: 1;
    padding: 8px;
    font-size: 1em;
}

.todo-input button {
    padding: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

li.checked {
    color: #aaa;
    text-decoration: line-through;
    order: 9999;
}

button.template-btn {
    margin: 5px 5px 0 0;
}

.delete-btn {
    color: #777777
}

button :hover {
    filter: brightness(0.85);
    -webkit-filter: brightness(0.85);
    transition: filter .15s ease, -webkit-filter .15s ease;
    will-change: filter;
}

.templates {
    display:flex;
    align-items:center;
    gap:8px;
}